{% extends "network/layout.html" %}
{% load static %}
{% load network_tags %}

{% block body %}
    {% if message %}
        <div class="alert alert-danger">
            {{message}}
            <a href="{% url 'index' %}">Go back to the homepage</a>
        </div>
    {% else %}
        <div class="container p-5 border shadow rounded">
            <span class="display-4">{{profile.user}}</span>
            <div>
                <h6 class="text-muted">Joined: {{profile.user.date_joined | date:"M, 'y"}}</h6>
                {% is_followed user profile as following %}
                {% if user.is_authenticated and profile.user.id is not user.id %}
                <div>
                    {% if following %}
                        <button id="btn-follow" data-follow="{{profile.user.id}}" class="btn btn-sm btn-outline-info">Unfollow</button>
                    {% else %}
                        <button id="btn-follow" data-follow="{{profile.user.id}}" class="btn btn-sm btn-outline-info">Follow</button>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="float-right">
                <span class="m-0">Followers: <span id="followers">{{profile.followers.count}} |</span></span>
                <span class="m-0">Following: {{profile.following.count}}</span>
            </div>
            
        </div>
        
        <hr>

        {% include "network/posts_template.html" %}
    {% endif %}
{% endblock %}

{% block script %}
    {% if user.is_authenticated and profile.user.id is not user.id %}
        <script src="{% static 'network/JavaScript/follow.js' %}"></script>
    {% endif %}
{% endblock %}