.own-like {
    cursor: default!important;
}

textarea {
    width: 100%!important;
    border: 1px dashed black;
    padding: 1em;
}

.new-post {
    z-index: 900;
    right: 0;
    bottom: 0;
    opacity: 1;
    transform: translateY(78%);
    transition: transform 250ms linear;
}

.show {
    transform: translateY(0);
}